---
name: Haskell CI
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        ghc:
        - '8.6'
        - '8.8'
        - '8.10'
        - '9.0'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v1
      name: Cache ~/.cabal/store
      with:
        path: ~/.cabal/store
        key: cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project', 'candid.cabal') }}

    - uses: actions/checkout@v2
      with:
        repository: 'dfinity/candid'
        path: candid
        ref: 135a26ec49a6d0801c22eb450c80ed2869d1b71f

    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}

    - name: Build
      run: |
        cabal --version
        ghc --version
        cabal update
        # build first, so that the .ghc.environment file is written
        cabal build
        # then the doctest has a chance of succeeding

        export CANDID_TESTS=$PWD/candid/test
        cabal v2-test

  docs:
    strategy:
      matrix:
        ghc:
        - '8.10'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      name: Cache ~/.cabal/store
      with:
        path: ~/.cabal/store
        key: cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project', 'candid.cabal') }}
    - uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
    - name: Build
      run: |
        cabal --version
        ghc --version
        cabal update
        cabal haddock --haddock-hyperlink-source --haddock-quickjump --haddock-html-location='https://hackage.haskell.org/package/$pkg-$version/docs'
        mv dist-newstyle/build/*/*/*/doc/html/candid gh-page
        touch gh-page/.nojekyll
    - name: Deploy to Github Pages
      if: github.ref == 'refs/heads/master'
      uses: JamesIves/github-pages-deploy-action@releases/v3
      with:
        ACCESS_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        BRANCH: gh-pages
        FOLDER: gh-page
        SINGLE_COMMIT: true
